body{
    background-color: #ffcccc;
}

.header{
    height: 70px;
    width: 100%;
    background-color: rgb(99, 250, 99);
}

.footer{
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: rgb(99, 250, 99);
}

.main{
    background-color: rgb(99, 250, 99, 0.3);
    width: 100%;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
}

.main div{
    width: 250px;
    height: 250px;
    background-size: 100% 100%;
}

.bloc1{
    background-image: url("bloc1.jpg");
}

.bloc2{ 
    background-image: url("bloc2.jpg"); 
}

.bloc3{  
    background-image: url("bloc3.jpg");

}