.grid-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] auto [col4-start] auto [col5-start] auto [col6-start] auto [col7-start] auto [col8-start] auto [col9-start] auto [col10-start] 100px [col10-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row7-start] auto [row8-start] auto [row9-start] auto [row10-start] auto [row10-end];
    background-color: black;
    width: 50%;
    height: 100vh;
}

.grid-item{

    background-color: white;
    color: black;
    font-size: 150%;
    text-align: center;
}

.a{
    grid-column:col1-start / col3-start;
    grid-row: row1-start / row4-start ;
}
 
.b{
    grid-column: col1-start / col3-start;
    grid-row: row4-start / row9-start;
}

.c{
    grid-column: col3-start / col10-end;
    grid-row: row1-start / row9-start;
    background-color: red;

}

.d{
    grid-column: col1-start / col3-start;
    grid-row: row9-start / row10-end;
    background-color: blue;
}

.e{
    grid-column: col3-start / col10-start;
    grid-row: row9-start/row10-end;
}

.f{
    grid-column:col10-start / col10-end;
    grid-row: row9-start / row10-start;
}

.g{
    grid-column: col10-start / col10-end;
    grid-row: row10-start / row10-end;
    background-color: yellow;
}